@model IEnumerable<BugTracker.Models.Ticket>

@using Microsoft.AspNet.Identity 

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/third-party/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/third-party/datatables/media/css/dataTables.bootstrap.min.css">
</head>

<body>
    <section class="page-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 header-inline">
                    <div class="header-inline-content">
                        <h2 class="page-title"></h2>
                    </div>
                    <div class="header-inline-content">
                        <ul class="breadcrumb">
 
                            <li class="button"><a href="@Url.Action("Index","Home")" class="btn btn-dark-blue">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End of Page Header -->
    <!-- Flot Basic -->
    <div class="section-admin container-fluid">
        <div class="row admin text-center">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="admin-content bg-blue text-light text-left">
                            <span class="counter-icon counter-icon-big icon_ribbon color-dark-blue"></span>
                            <span class="counter-extend"></span><span class="counter">

                                @ViewBag.projectcount
                            </span>
                            <h3>
                                Open Projects
                                @ViewBag.projectmessage
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="admin-content bg-dark-blue text-light text-left">
                            <span class="counter-icon counter-icon-big icon_tags"></span>
                            <span class="counter">@ViewBag.ticketcount</span>
                            <h3>
                                Open Tickets
                                @ViewBag.message
                            </h3>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="admin-content bg-purple text-light text-left">
                            <span class="counter-icon counter-icon-big icon_cart"></span>
                            <span class="counter">@ViewBag.urgentticketcount</span>
                            <h3>
                                Urgent Tickets
                                @ViewBag.urgentmessage
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="admin-content bg-dark-green text-light text-left">
                            <span class="counter-icon counter-icon-big icon_chat color-green"></span>
                            <span class="counter">@ViewBag.unassignedticketcount</span>
                            <h3>@ViewBag.unassignedmessage</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="admin-content">
        <div class="row">
            <div class="col-sm-offset-2">
                <h2>Tickets Home</h2><br /><br />


                @if (User.IsInRole("Administrator") || User.IsInRole("Admin"))
                {
                    <h3> Below you will find a list of All Tickets and the corresponding fields for each ticket.</h3><h4> To view only the Tickets you are assigned to, click My Tickets.</h4> <br /><hr />


                    <a href="@Url.Action("MyTickets", "Tickets")" class="btn btn-dark-blue" id="btn">My Tickets</a>
                }
                else if (User.IsInRole("Project Manager1") || User.IsInRole("Project Manager2") || User.IsInRole("Project Manager3"))
                {
                    <h3>Below you will find a list of All Tickets from All Projects you are assigned to.  To view only the Tickets assigned to you, click My Tickets.</h3><br /><hr />


                    <a href="@Url.Action("MyTickets", "Tickets")" class="btn btn-dark-blue" id="btn">My Tickets</a>
                }


                else if (User.IsInRole("Developer1") || User.IsInRole("Developer2") || User.IsInRole("Developer3") || User.IsInRole("Developer4"))
                {
                    <h3>Below you will find a list of all Tickets from projects that you are assigned to. </h3><br />
                }

                @{ var temporary = TempData["message"];}
                @temporary
            </div>
        </div>
        </div>



    <div class="row">
        <div class="col-sm-offset-2">
    <div class="section-admin container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="admin-content">
                    <div class="table-responsive">

                        <table id="example1" class="table table-theme table-striped">
                            <thead>
                                <tr>
                                    <th>Ticket Priority</th>
                                    <th>Ticket Name</th>
                                    <th>Ticket Assigned To</th>
                                    <th>Ticket Status</th>
                                    <th>Project</th>
                                    <th>Ticket Submitter</th>
                                    <th>Ticket Created Date</th>
                                    <th>Ticket Attachments</th>
                                    @if (User.IsInRole("Administrator") || User.IsInRole("Admin") || User.IsInRole("Project Manager1") || User.IsInRole("Project Manager2") || User.IsInRole("Project Manager3"))
                                    {
                                        <th>Assign Ticket</th>
                                    }

                                    @*<th>Functions</th>*@
                                    @*<th>Leave a comment</th>
                                        <th>Comments</th>*@
                                    <th>Actions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    @*<th>Remove Ticket</th>*@
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var ticket in Model)
                                {
                                    @*<>@Html.DisplayFor(modelItem => ticket.Name)</>*@

                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => ticket.TicketPriority.Name)</td>
                                        <td>
                                            @*@if (User.IsInRole("Developer1") || User.IsInRole("Developer2") || User.IsInRole("Developer3") || User.IsInRole("Developer4"))
                                                {


                                                    if (ticket.AssignedToUser == User)
                                                    {
                                                    <a href="@Url.Action("Details", "Tickets", new { id = ticket.Id })" class="btn btn-dark-blue" style="width:240px">
                                                        @Html.DisplayFor(modelItem => ticket.Title)
                                                    </a>
                                                    }
                                                }
                                                else
                                                {*@
                                            @Html.DisplayFor(modelItem => ticket.Title)
                                            @*}*@

                                        </td>
                                        <td>@Html.DisplayFor(modelItem => ticket.AssignedToUser.FirstName) @Html.DisplayFor(modelItem => ticket.AssignedToUser.LastName)</td>
                                        
                                        <td>@Html.DisplayFor(modelItem => ticket.TicketStatus.Name)</td>
                                        <td><a href="@Url.Action("Details", "Projects", new { id = ticket.Project.Id })"> @Html.DisplayFor(modelItem => ticket.Project.Name)</a></td>
                                        <td>@Html.DisplayFor(modelItem => ticket.SubmitterUser.FirstName) @Html.DisplayFor(modelItem => ticket.SubmitterUser.LastName)</td>
                                        <td>@Html.DisplayFor(modelItem => ticket.CreatedDate)</td>
                                        <td>
                                            @*<i class="fa fa-file-excel-o" aria-hidden="true"></i><i class="fa fa-file-pdf-o" aria-hidden="true"></i><i class="fa fa-file-image-o" aria-hidden="true"></i>
            <i class="fa fa-file-word-o" aria-hidden="true"></i><i class="fa fa-file-archive-o" aria-hidden="true"></i><i class="fa fa-file-text-o" aria-hidden="true"></i>*@

                                            @*return extension.Equals(".docx") || extension.Equals(".xls") || extension.Equals(".pdf") || extension.Equals(".jpeg") || extension.Equals(".bmp") || extension.Equals(".gif")
            || extension.Equals(".jpg") || extension.Equals(".zip") ||  extension.Equals(".rar") || extension.Equals(".pdf");*@

                                            @foreach (var ticketattachment in ticket.TicketAttachments)
                                            {

                                                string filename = ticketattachment.FilePath.ToString();
                                                string word = ".docx";
                                                string excel = ".xls";
                                                string pdf = ".pdf";
                                                string jpeg = ".jpeg";
                                                string bmp = ".bmp";
                                                string gif = ".gif";
                                                string zip = ".zip";
                                                string rar = ".rar";


                                                if (filename.Contains(word))
                                                {
                                                    <span class="fa fa-file-word-o " aria-hidden="true"title="@ticketattachment.Description"></span>
                                                }

                                                else if (filename.Contains(excel))
                                                {
                                                  <span class="fa fa-file-excel-o" aria-hidden="true" title="@ticketattachment.Description"></span>
                                                }

                                                else if (filename.Contains(pdf))
                                                {
                                                    <span class="fa fa-file-pdf-o" aria-hidden="true"title="@ticketattachment.Description"></span>
                                                }

                                                else if (filename.Contains(jpeg))
                                                {
                                                    <span class="fa fa-file-image-o" aria-hidden="true"title="@ticketattachment.Description"></span>
                                                }

                                                else if (filename.Contains(bmp))
                                                {
                                                    <span class="fa fa-file-image-o" aria-hidden="true"title="@ticketattachment.Description"></span>
                                                }

                                                else if (filename.Contains(gif))
                                                {
                                                    <span class="fa fa-file-image-o" aria-hidden="true"title="@ticketattachment.Description"></span>
                                                }

                                                else if (filename.Contains(zip))
                                                {
                                                    <span class="icon-paperclip" aria-hidden="true"title="@ticketattachment.Description"></span>
                                                }

                                                else if (filename.Contains(rar))
                                                {
                                                   <span class="icon-paperclip" aria-hidden="true" title="@ticketattachment.Description"></span>
                                                }

                                              
                                                @*<a href="@Url.Action("Details", "TicketAttachments", new { id = ticketattachment.Id })"><span class="icon-paperclip">&nbsp; &nbsp;</span></a>*@


                                            }
                                        </td>



                                        @if (User.IsInRole("Administrator") || User.IsInRole("Admin") || User.IsInRole("Project Manager1") || User.IsInRole("Project Manager2") || User.IsInRole("Project Manager3"))
                                        {
                                            <td> @Html.ActionLink("Assign Ticket", "TicketAssign", new { id = ticket.Id })</td>
                                        }
                                        @*<td>


                                            </td>*@
                                        @{ var projectId = ticket.Project.Id;}
                                        @{ var userId = ticket.SubmitterUserId;}
                                        <td>
                                                  @if (User.IsInRole("Administrator") || User.IsInRole("Admin") || User.IsInRole("Project Manager1") || User.IsInRole("Project Manager2") || User.IsInRole("Project Manager3"))
                                                  {
                                                    <a href="@Url.Action("Edit", "Tickets", new { id = ticket.Id, UserId = userId, ProjectId = projectId })"><i class="fa fa-pencil-square-o" style="font-size:25px" aria-hidden="true" title="EDIT"></i></a><span>&nbsp; &nbsp; &nbsp;</span>
                                                  }

                                                 
                                           
                                            else if (User.IsInRole("Developer1") || User.IsInRole("Developer2") || User.IsInRole("Developer3") || User.IsInRole("Developer4"))
                                            {
                                                if (ticket.AssignedToUserId == User.Identity.GetUserId())
                                                {
                                                    <a href="@Url.Action("Edit", "Tickets", new { id = ticket.Id, UserId = userId, ProjectId = projectId })"><i class="fa fa-pencil-square-o" style="font-size:25px" aria-hidden="true" title="EDIT"></i></a><span>&nbsp; &nbsp; &nbsp;</span>
                                                }
                                            }
                                            else if (User.IsInRole("Submitter"))
                                            {
                                                if (ticket.SubmitterUserId == User.Identity.GetUserId())
                                                {
                                                    <a href="@Url.Action("Edit", "Tickets", new { id = ticket.Id, UserId = userId, ProjectId = projectId })"><i class="fa fa-pencil-square-o" style="font-size:25px" aria-hidden="true" title="EDIT"></i></a><span>&nbsp; &nbsp; &nbsp;</span>
                                                }
                                            }

                                            
                                            @if (User.IsInRole("Administrator") || User.IsInRole("Admin") || User.IsInRole("Project Manager1") || User.IsInRole("Project Manager2") || User.IsInRole("Project Manager3"))
                                            {
                                                <a href="@Url.Action("Archive", "Tickets", new { id = ticket.Id })"><i class="fa fa-times" style="font-size:25px" aria-hidden="true" title="CLOSE TICKET">&nbsp;</i></a>
                                            }

                                            @if (User.IsInRole("Administrator") || User.IsInRole("Admin") || User.IsInRole("Project Manager1") || User.IsInRole("Project Manager2") || User.IsInRole("Project Manager3"))
                                            {
                                                <a href="@Url.Action("Details", "Tickets", new { id = ticket.Id })"><i class="fa fa-question-circle-o" style="font-size:25px" aria-hidden="true" title="DETAILS"></i></a>
                                            }



                                            else if (User.IsInRole("Developer1") || User.IsInRole("Developer2") || User.IsInRole("Developer3") || User.IsInRole("Developer4"))
                                            {
                                                if (ticket.AssignedToUserId == User.Identity.GetUserId())
                                                {
                                                    <a href="@Url.Action("Details", "Tickets", new { id = ticket.Id })"><i class="fa fa-question-circle-o" style="font-size:25px" aria-hidden="true" title="DETAILS"></i></a>
                                                }
                                            }
                                            else if (User.IsInRole("Submitter"))
                                            {
                                                if (ticket.SubmitterUserId == User.Identity.GetUserId())
                                                {
                                                    <a href="@Url.Action("Details", "Tickets", new { id = ticket.Id })"><i class="fa fa-question-circle-o" style="font-size:25px" aria-hidden="true" title="DETAILS"></i></a>
                                                }
                                            }                                           
                                            
                                        </td>

                                        </tr>
                                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div><!-- End of Page Content -->
    <!-- Footer -->


    @section scripts {
        <script src="~/third-party/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="~/third-party/datatables/media/js/dataTables.bootstrap.min.js"></script>

        <!-- Export functionality -->
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
        <!-- End of Export functionality -->

        <script>
            //$('#example1').DataTable();
            //$('#example2').DataTable({
            //$('.table').DataTable();
            $('.table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        </script>
    }
</body>



</html>