
@using Microsoft.AspNet.Identity 

@model IEnumerable<BugTracker.Models.Ticket>






<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/third-party/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/third-party/datatables/media/css/dataTables.bootstrap.min.css">
</head>

<body>
    <section class="page-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 header-inline">
                    <div class="header-inline-content">
                        @*<h2 class="page-title">Data Tables</h2>*@
                    </div>
                    <div class="header-inline-content">
                        <ul class="breadcrumb">
                            @*<li><a href="~/index.html">Home</a></li>
                            <li class="active">Tables</li>*@
                            <li class="button"><a href="@Url.Action("Landing","Home")" class="btn btn-dark-blue">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End of Page Header -->
    <!-- Flot Basic -->
    <div class="admin-content" style="padding-left:300px">
       
        <h2 style="font-variant:small-caps">Current Tickets</h2> @foreach (var user in Model)
        {
     

        }<br /><br />
        @if (User.IsInRole("Administrator") || User.IsInRole("Admin") || User.IsInRole("Project Manager1") || User.IsInRole("Project Manager2") || User.IsInRole("Project Manager3"))
        {
            <h3>Below you will find a list of Tickets you are assigned to.</h3><br /><hr />

            <a href="@Url.Action("Index", "Tickets")" class="btn btn-dark-blue">Back to Index</a>
        
        }


 
    </div>




    <div class="section-admin container-fluid" style="padding-left:300px">
        <div class="row">
            <div class="col-md-12">
                <div class="admin-content">
                    <div class="table-responsive">
                  

                            <table id="example1" class="table table-theme table-striped">
                                <thead>
                                    <tr>
                                        <th>Ticket Priority</th>
                                        <th>Ticket Name</th>
                                        <th>Ticket Description</th>
                                        <th>Ticket Status</th>
                                        <th>Ticket Created Date</th>
                                        <th>Ticket Assigned To</th>
                                        <th>Ticket Attachments</th>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager1") || User.IsInRole("Project Manager2") || User.IsInRole("Project Manager3") || User.IsInRole("Administrator"))
                                        {
                                        <th>Ticket Actions</th>
                                            }
                                       
                                          
                                        <th> Ticket Edit </th>
                                                
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    @foreach (var ticket in Model)
                                    {

                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => ticket.TicketPriority.Name)</td>
                                            <td>
                                                <a href="@Url.Action("Details", "Tickets", new { id = ticket.Id })" class="btn btn-dark-blue" style="width:240px">
                                                    @Html.DisplayFor(modelItem => ticket.Title)
                                                </a>
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => ticket.Description)</td>
                                            <td>@Html.DisplayFor(modelItem => ticket.TicketStatus.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => ticket.CreatedDate)</td>
                                            <td>@Html.DisplayFor(modelItem => ticket.AssignedToUser.FirstName) &nbsp; @Html.DisplayFor(modelItem => ticket.AssignedToUser.LastName)</td>

                                            <td>
                                                @foreach (var attachment in ticket.TicketAttachments)
                                                {
                                                    <a href="@Url.Action("Details", "Tickets", new { id = ticket.Id })"><span class="icon-paperclip">&nbsp; &nbsp;</span></a>

                                                }
                                            </td>
                                            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager1") || User.IsInRole("Project Manager2") || User.IsInRole("Project Manager3") || User.IsInRole("Administrator"))
                                            {
                                                <td> @Html.ActionLink("Assign Ticket", "TicketAssign", new { id = ticket.Id }) </td>
                                            }


                                            @if (ticket.AssignedToUserId == User.Identity.GetUserId() || User.IsInRole("Project Manager1") || User.IsInRole("Project Manager2") || User.IsInRole("Project Manager3") || User.IsInRole("Admin") || User.IsInRole("Administrator"))
                                            {
                                                <td>

                                                    @Html.ActionLink("Edit", "Edit", new { id = ticket.Id })

                                                </td>
                                            }
                                        </tr>


                                    }



                                </tbody>

                            </table>
                            <br /><br /><br /><br /><hr />
                        
                    </div>
                </div>

            </div>
        </div>
    </div><!-- End of Page Content -->
    <!-- Footer -->


    @section scripts {
        <script src="~/third-party/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="~/third-party/datatables/media/js/dataTables.bootstrap.min.js"></script>

        <!-- Export functionality -->
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
        <!-- End of Export functionality -->

        <script>
          
                    $('.table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
                    });


                   
        </script>
    }
</body>

</html>