@model BugTracker.Models.TicketAttachment

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 well" style="align-content:center;margin-top:75px">
            <br />
            <div class="row">
                <div class="col-sm-10"><h2 style="font-family:'Lato',sans-serif; font-variant:small-caps">Attachment Details</h2><br /></div>
                <div class="col-sm-2">
                    <img src="~/images/bug-1296767.png" style="height:50px" />

                </div>
            </div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                   Submitter
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ticket.SubmitterUser.FirstName) @Html.DisplayFor(model =>model.Ticket.SubmitterUser.LastName)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.User.FirstName)
                </dt>*@

                @*<dd>
                    @Html.DisplayFor(model => model.User.FirstName)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.FilePath)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FilePath)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.FileUrl)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FileUrl)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

