
@model BugTracker.Models.ApplicationUser

@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Tags -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bug Tracker</title>
    <meta name="description" content="Premium HTML5 Template">
    <meta name="keywords" content=" HTML5, Premium Template, Nucleus Theme">
    <meta name="author" content="Amazyne Themes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicon -->

    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Loading Google Fonts -->

    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Loading Third Party Styles -->

    <link rel="stylesheet" href="~/third-party/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/third-party/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/third-party/et-line/css/style.css">
    <link rel="stylesheet" href="~/third-party/elegant-icons/css/style.css">
    <link rel="stylesheet" href="~/third-party/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/third-party/pe-icon-7-stroke/css/helper.css">
    <link rel="stylesheet" href="~/third-party/nivo-lightbox/css/nivo-lightbox.css" />
    <link rel="stylesheet" href="~/third-party/nivo-lightbox/themes/default/default.css" />
    <link rel="stylesheet" href="~/third-party/animate/css/animate.css">
    <link rel="stylesheet" href="~/third-party/owl/css/owl.carousel.css">
    <link rel="stylesheet" href="~/third-party/owl/css/owl.theme.css">
    <link rel="stylesheet" href="~/third-party/form-validation/css/formValidation.min.css">

    <!-- Loading Theme's Styles -->

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Script for IE < 9 -->
    <!--[if lt IE 9]>
    <script src="third-party/respond/js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="frontend one-page">

    <!-- Page Loader -->

    <div class="loader">
        <div class="spinner"></div>
    </div><!-- End of Page Loader -->
    <!-- Page Content + Uncover Footer Body -->

    <div class="page-content">

        <!-- Header - Top -->

        <header class="navigation nav-green nav-normal">

            <!-- Header Wrapper -->

            <div class="main-nav nav-icons-right header-icons header-right sticky full-width">
                <div class="navbar navbar-default" role="navigation">
                    <div class="container active">
                        <div class="navbar-header">
                            <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <ul class="bar-icon-wrapper">
                                    <li class="bar-icon"></li>
                                    <li class="bar-icon"></li>
                                    <li class="bar-icon"></li>
                                </ul>
                            </a><!-- Logo -->

                            <a class="logo" href="~/index.html">
                                <img alt="image" src="~/images/bug-1296767.png" />


                            </a>
                        </div>
                        <div class="navbar-icons">
                            @Html.Partial("_LoginPartial")

                            @*<div class="nav navbar-nav navbar-right">


                                    <span class="btn btn-theme-inverse pad-right-15 pad-top-5 pad-bot-5 mar-top-10-tablet mar-top-10-mobile">@Html.Partial("_LoginPartial")</span>

                                </div>*@
                        </div>
                        <div class="navbar-container">
                            <div class="navbar-collapse nav-collapse collapse collapsing-nav">

                                <!-- Header Links -->

                                <ul class="nav navbar-nav">

                                    <li class="active">
                                        <a href="@Url.Action("Index","Home")">Home</a>
                                    </li>

                                    <li>
                                        <a href="#features">Features</a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("Login","Account")">Users</a>
                                    </li>

                                    <li>
                                        @*<a href="#contact">Contact</a>*@
                                    </li>
                                    <li>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header> <!-- End of Header -->
        <!-- One Page Section - Home -->

        <div class="theme-background-section fs-overlay full-screen one-page-section" id="home" style="background-image: url('../../images/babu-1810147_1920.jpg'); background-position: 50%;" data-custom-height="" data-offset-container=".navigation">
            <div class="content-container">
                <div class="content-inner-container">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <img alt="image" class="center-block img-responsive mar-bot-10 mar-top-50 wow animated fadeInDown" data-wow-delay="1000ms" src="~/images/bug-1296767.png" style="height:300px; width:auto" />

                                <h2 class="text-uppercase letter-spacing-3 no-margin pad-bot-30 word-spacing-5 color-green wow animated fadeIn" data-wow-delay="1600ms"><b>BugTracker</b></h2>
                                <p class="no-margin pad-bot-30 text-vertical-large letter-spacing-1 text-light wow animated fadeIn" data-wow-delay="2200ms">
                                    <i>
                                        <br /><br /> Welcome to BugTracker!
                                    </i><br /><br />

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                      
                                        <div class="btn btn-curtain-light mar-bot-50 wow animated fadeInUp" data-wow-delay="2800ms">
                                            <a href="@Url.Action("Landing", "Home")" class="btn btn-lg letter-spacing-3">Proceed</a>
                                        </div>
                                    }

                                    else
                                    {
                                        <i>
                                            BugTracker is a web - based software application designed as a bug - tracking system for corporations.Within the Tracker, you can

                                            track your companies' software projects and tickets while maintaining accurate records of your development processes on a per-project basis.

                                            <br /><br /> If you're already registered, simply click below to login, or scroll down to learn more!
                                        </i>






                                        <div class="btn btn-curtain-light mar-bot-50 wow animated fadeInUp" data-wow-delay="2800ms">
                                            <a href="#Logins" class="btn btn-lg letter-spacing-3">Log In</a>
                                        </div>

                                    }
                            </div>

                        </div>
                    </div>
                    <div class="one-page-intro-jump">
                        <a href="#features" class="jump intro-center" data-jump-offset="60"><img alt="image" class="center-block" src="~/images/scroll.png" /></a>
                    </div>
                </div>
            </div>
        </div><!-- End of Custom Theme Background Section + One Page Section - Home -->
        <!-- One Page Section - Features -->

        <div id="features" class="one-page-section">

            <div class="container-fluid pad-top-bot-100">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 pad-bot-100">

                        <!-- Vertically Centered Content Box - Desktop + Tablet -->

                        <div class="row vertical-center-box vertical-center-box-tablet" id="features">
                            <div class="col-sm-4 wow animated slideInLeft text-right text-center-mobile" data-wow-delay="200ms">

                                <h1 class="pe-7s-gleam img-rounded text-light bg-green pad-top-15 pad-bot-15 pad-left-15 pad-right-15"></h1>
                                <h4><i>Super Easy</i></h4>
                                <p class="text-vertical-large">Bug Tracker is easy to navigate between screens and makes keeping track of your projects a breeze.</p>

                                <h1 class="pe-7s-ribbon img-rounded text-light bg-green pad-top-15 pad-bot-15 pad-left-15 pad-right-15"></h1>
                                <h4><i>Well Documented</i></h4>
                                <p class="text-vertical-large">All of your files and projects are stored to a database and easily retrievable.</p>

                            </div>
                            <div class="col-sm-4">
                                <img alt="img" class="img-responsive center-block" src="~/images/frontend-screenshot-1c.png" />
                            </div>
                            <div class="col-sm-4 wow animated slideInRight text-center-mobile" data-wow-delay="200ms">

                                <h1 class="pe-7s-timer img-rounded text-light bg-green pad-top-15 pad-bot-15 pad-left-15 pad-right-15"></h1>
                                <h4><i>Fast </i></h4>
                                <p class="text-vertical-large">Get quick answers to querys, find out who is working on what projects and which tickets are the highest priority.</p>
                                <h1 class="pe-7s-like img-rounded text-light bg-green pad-top-15 pad-bot-15 pad-left-15 pad-right-15"></h1>
                                <h4><i>Data Tables</i></h4>
                                <p class="text-vertical-large">Sort through all of the data in the Bug Tracker system with easy to use data tables, and download to various file-types. </p>

                            </div>
                        </div><!-- End of Vertically Centered Content Box - Desktop +Tablet -->
                    </div>
                </div>
            </div>

        

        <div id="Logins" class="one-page-section">
            <section class="text-center pad-top-bot-100" style="background-image: url('../../images/texture-2072344_1920.png');">

                <div class="container-fluid " style="margin:0 150px 0 150px">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="text-uppercase text-light letter-spacing-2"><b>Bug Tracker Login</b></h3>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <h5 class="text-lighter text-vertical-large">
                                        <i>
                                            Please login below using your designated role assignment for your login, or login as a guest to experience the BugTracker in a variety of roles.
                                        </i>
                                    </h5>
                                </div>
                                <div class="col-md-12">
                                    <div class="row pad-top-30">

                                        <!-- Pricing Table 1 -->

                                        <div class="col-md-3 col-sm-6 text-center">
                                            <div class="plan">
                                                <div class="plan-header">
                                                    <p class="type">Admin Login</p>
                                                    <div class="price"><span class="currency"></span><span class="timeframe"></span></div><br /><br />
                                                    <p class="text">Click below to login if you are already registered, or continue below to login in a demo role</p><br /><br />
                                                    <a href="@Url.Action("Login", "Account")" class="btn btn-hollow btn-lg">
                                                        Admin Login
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <ul>

                                                        <li>Assign Roles</li>
                                                        <li>View Projects</li>
                                                        <li>Edit Tickets</li>
                                                        <li>View All Projects</li>
                                                    </ul>
                                                    <div class="buy">
                                                        <a href="@Url.Action("GuestLogin", "Account", new { userName = "Admin@Mailinator.com" }, null)" class="btn btn-hollow btn-lg" style="width:200px">
                                                            Administrator <br />DEMO
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Pricing Table 2 -->

                                        <div class="col-md-3 col-sm-6 text-center">
                                            <div class="plan plan-light">
                                                <div class="plan-header">
                                                    <p class="type">Project Manager</p>
                                                    <div class="price"><span class="currency"></span><span class="timeframe"></span></div><br /><br />
                                                    <p class="text">Click below to login if you are already registered, or continue below to login in a demo role</p><br /><br />
                                                    <a href="@Url.Action("Login", "Account")" class="btn btn-theme btn-lg">
                                                        PM Login
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <ul>


                                                        <li>Create Projects</li>
                                                        <li>Assign Users to Projects</li>
                                                        <li>Assign Developers to Tickets</li>
                                                        <li>View your own Projects</li>
                                                    </ul>
                                                    <div class="buy">
                                                        <a href="@Url.Action("GuestLogin", "Account", new { userName =  "ProjectManager@Mailinator.com" }, null)" class="btn btn-theme btn-lg" style="width:200px">
                                                         Project Manager <br />DEMO
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Pricing Table 3 -->

                                        <div class="col-md-3 col-sm-6 text-center">
                                            <div class="plan">
                                                <div class="plan-header">
                                                    <p class="type">Developer Login</p><br /><br />
                                                    <div class="price"><span class="currency"></span><span class="timeframe"></span></div>
                                                    <p class="text">Click below to login if you are already registered, or continue below to login in a demo role</p><br /><br />


                                                    <a href="@Url.Action("Login", "Account")" class="btn btn-hollow btn-lg">
                                                        Dev Login
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <ul>

                                                        <li>View Your Projects and Tickets</li>
                                                        <li>Submit New Tickets</li>
                                                        <li>Upload Files</li>
                                                        <li>Make Comments</li>
                                                    </ul>
                                                    <div class="buy">


                                                        <a href="@Url.Action("GuestLogin", "Account", new { userName = "Developer@Mailinator.com" }, null)" class="btn btn-hollow btn-lg"style="width:200px">
                                                            Developer<br /> DEMO
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-3 col-sm-6 text-center">
                                            <div class="plan plan-light">
                                                <div class="plan-header">
                                                    <p class="type">Guest User</p>
                                                    <div class="price"><span class="currency"></span><span class="timeframe"></span></div><br /><br />
                                                    <p class="text">Click below to login if you are already registered, or continue below to login in a demo role</p><br /><br />
                                                    <a href="@Url.Action("Login", "Account")" class="btn btn-theme btn-lg">
                                                        User Login
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <ul>


                                                        <li>Submit Tickets</li>
                                                        <li>View Your Submitted Tickets</li>
                                                        <li>Edit Your Submitted Tickets</li>
                                                        <li>View your User Profile</li>
                                                    </ul>
                                                    <div class="buy">
                                                        <a href="@Url.Action("GuestLogin", "Account", new { userName = "GuestUser@Mailinator.com" }, null)" class="btn btn-theme btn-lg"style="width:200px">
                                                             User <br />DEMO
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

          
        <hr class="no-margin" />

        <!-- Footer - Light -->

      
    </div><!-- End of Page Content-->
    <!-- Loading Third Party Scripts -->

    <script src="~/third-party/jquery/jquery.min.js"></script>
    <script src="~/third-party/easing/js/jquery.easings.min.js"></script>
    <script src="~/third-party/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/third-party/nivo-lightbox/js/nivo-lightbox.min.js"></script>
    <script src="~/third-party/owl/js/owl.carousel.js"></script>
    <script src="~/third-party/counter-up/js/jquery.counterup.min.js"></script>
    <script src="~/third-party/form-validation/js/formValidation.js"></script>
    <script src="~/third-party/form-validation/js/framework/bootstrap.min.js"></script>
    <script src="~/third-party/waypoint/js/waypoints.min.js"></script>
    <script src="~/third-party/wow/js/wow.min.js"></script>
    <script src="~/third-party/slimscroll/jquery.slimscroll.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>

    <!-- Loading Theme's Scripts -->

    <script src="~/js/scripts.js"></script>
    <script src="~/js/custom.js"></script>

    <!-- Google Analytics Tracking -->

    <script>

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-xxxxxxx-x', 'auto');
        ga('send', 'pageview');

    </script>

</body>

    </html>