@using Microsoft.AspNet.Identity 

@model IEnumerable<BugTracker.Models.Project>


<!DOCTYPE html>
<html lang="en">


<!-- Remove "header-side" if side menu isn't present | Remove "in" if you want the side-header closed by default -->

<body class="header-side in">
    <!-- Page Loader -->
    <div class="loader">
        <div class="spinner"></div>
    </div>
    <section class="page-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 header-inline">
                    <div class="header-inline-content">
                        @*<h2 class="page-title">Data Tables</h2>*@
                    </div>
                    <div class="header-inline-content">
                        <ul class="breadcrumb">
                            @*<li><a href="~/index.html">Home</a></li>
                                <li class="active">Tables</li>*@
                            <li class="button"><a href="@Url.Action("Index", "Home")" class="btn btn-dark-blue"  id="home">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End of Page Header -->
    <!-- Page Content -->
    <div class="page-content">
        <!-- Header - Add "light" for light menu | "nav-dark-blue" for dark-blue accent | "nav-blue" for blue accent | "nav-blue-grey" for blue-grey accent |
             "nav-green" for green accent | "nav-dark-green" for dark-green accent | "nav-purple" for purple accent | "nav-red" for red accent |
              "nav-Orange" for Orange accent | "nav-yellow" for yellow accent -->
        <!-- Header Wrapper -->
        <!-- End of Header -->
        <!-- Sliding Chat : add "chat-light" along with "chat-slide" for light chat window-->



        <div class="section-admin container-fluid">
            <div class="row admin text-center">
                <div class="col-md-12" style="background-size:1500px; background-repeat: no-repeat; background-color: #fafafa">
                    <div class="row">
                        
                        <p style="font-variant:small-caps; font-size:20px">
                            Welcome to the Bug Tracker.<br /><br />

                           
                            
                            @if (User.IsInRole("Admin") || User.IsInRole("Administrator") || User.IsInRole("Project Manager1") || User.IsInRole("Project Manager2") || User.IsInRole("Project Manager3") || User.IsInRole("Developer1") || User.IsInRole("Developer2") || User.IsInRole("Developer3") || User.IsInRole("Developer4"))
                            {

<span>Let's get you started</span>

                            }

                            else {
                            <div class="alert alert-block">
                                You are currently logged in as a Submitter.  If you would like to experience the Bug Tracker's full functionality, please return to the Home page, scroll to the bottom of the page, and login as a guest using one or
                                the demo roles.  If you have been registered as a Submitter but not yet assigned to any projects and you wish to submit tickets, please contact a system administrator or project manager.  Thank you.

                            </div>
                            }

                            <br /><br />

                        </p>
                        <div class="col-md-1"></div>
                        <div class="col-md-10" style="margin:0 auto">
                          
                            @if (User.Identity.IsAuthenticated)
                            {
                                <i>

                                   You are currently logged in as:
                                </i>


                                {
                                    if (User.IsInRole("Admin"))
                                    {
                                        <i>Admin.</i>
                                    }

                                    @*{
                                            <i>
                                                Admin.  <br />As an Admin, you will be able to: <br /><br />
                                                Assign Roles<br />
                                                View Projects<br>
                                                Edit Tickets<br />
                                                And Much More!
                                            </i>

                                        }*@

                            else if (User.IsInRole("Project Manager1"))
                            {

                                <i>Project Manager 1</i>

                                        @*< i >
                                              Project Manager1.  < br /> As a Project Manager1, you will be able to:< br />< br />
                                                Create Projects < br />
                                                Assign Users to Projects < br />
                                                Assign Developers to Tickets<br>

                                                And Much More!




                                            </ i >*@
                            }
                            else if (User.IsInRole("Project Manager2"))
                            {
                                <i>Project Manager 2</i>
                                        @*< i >
                                              Project Manager2 < br /> As a Project Manager2, you will be able to:< br />< br />
                                                Create Projects < br />
                                                Assign Users to Projects < br />
                                                Assign Developers to Tickets<br>

                                                And Much More!




                                            </ i >*@
                            }
                            else if (User.IsInRole("Project Manager3"))
                            {

                                <i>Project Manager 3</i>
                                        @*< i >
                                              Project Manager3 < br /> As a Project Manager3, you will be able to:< br />< br />
                                                Create Projects < br />
                                                Assign Users to Projects < br />
                                                Assign Developers to Tickets<br>

                                                And Much More!




                                            </ i >*@
                            }

                            else if (User.IsInRole("Developer1"))
                            {

                                <i>Developer 1</i>
                                        @*< i >
                                              Developer1. < br /> As a Developer1, you will be able to:< br />< br />
                                                View your Projects and Tickets< br />
                                                Submit Tickets < br />
                                                And More!



                                            </ i >*@
                            }

                            else if (User.IsInRole("Developer2"))
                            {

                                <i>Developer 2</i>
                                        @*< i >
                                              Developer2 < br /> As a Developer2 you will be able to:< br />< br />
                                                View your Projects and Tickets< br />
                                                Submit Tickets < br />
                                                And More!



                                            </ i >*@
                            }
                            else if (User.IsInRole("Developer3"))
                            {

                                <i>Developer 3</i>
                                        @*< i >
                                              Developer3 < br /> As a Developer3 you will be able to:< br />< br />
                                                View your Projects and Tickets< br />
                                                Submit Tickets < br />
                                                And More!



                                            </ i >*@
                            }

                            else if (User.IsInRole("Developer4"))
                            {

                                <i>Developer 4</i>
                                        @*< i >
                                              Developer4 < br /> As a Developer4 you will be able to:< br />< br />
                                                View your Projects and Tickets< br />
                                                Submit Tickets < br />
                                                And More!



                                            </ i >*@
                            }


                            else if (User.IsInRole("Submitter"))
                            {

                                <i>Submitter</i>
                                        @*< i >
                                                Submitter.  < br /> As a Submitter, you will be able to:

                                            </ i >*@
                                }

                            }
                                <br /><br /><br /><br />
                            }
                            
                            <p style="font-size:15px; text-align:left">
                            <span class="glyphicon glyphicon-arrow-left"></span>To view projects / tickets / profiles, use the toolbar to the left.<br /><br />
                                Inside you will be able to easily navigate the Bug Tracking system based on your designated role.  The Bug Tracker can be utilized for tracking all projects throughout the system
                                as well as the tickets that pertain to each project.
                                @*</p><br /><br /><br /><p style="font-size:15px; text-align:left">You can use the toolbar to the left to navigate quickly from project to tickets.  You can view grouped tickets and projects, or if you prefer you can view individual tickets and projects.
                                      If you are working on a particular project, you will be able to view all of the details of the project, including the other users who are working on the same project and the tickets that are being worked on.  Being able to view all of the tickets for your
                                    projects can help you coordinate with other system-users, streamlining the development process.*@  In addition to these features, you will also be able to view details of tickets, upload & download attachments to tickets,
                                communicate back and forth on tickets through the comments section, and much more.
                                Each authorized user for the Bug Tracker will also have access to their profile details.
                            </p><br /><br /></b>



                            Take a look below at what's inside:  <br /><br /><br /><br /><br />
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="section-admin container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet portlet-bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject text-uppercase">Ticket Submissions for the past week</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group" data-toggle="buttons">
                                    @*<label class="btn btn-grey active">
                                            <input type="radio" name="options" class="toggle" id="option1" checked>Today
                                        </label>*@
                                    <label class="btn btn-grey">
                                        <input type="radio" name="options" class="toggle" id="option2">Week
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body text-center">
                            <ul class="list-inline pad-top-10">
                                <li>
                                    <h5><i class="fa fa-circle mar-right-5" style="color: #24caa1;"></i>Urgent Priority</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle mar-right-5" style="color: #3f4d9f;"></i>Normal Priority</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle mar-right-5" style="color: #ff7f5a;"></i>Low Priority</h5>
                                </li>
                            </ul>
                            @*<div id="sparkline2" class="sparkline-container">Loading..</div>*@

                            <div id="ThirdChart" style="height:400px"></div>

                            <br /><br />

                        </div>


                    </div>
                    <!-- END PORTLET-->
                </div>
                <div class="col-md-4">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet portlet-bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject text-uppercase">User Stats</span>
                            </div>
                            <div class="actions">
                                @*<a href="#" class="btn btn-dark-blue btn-circle active tip-top" data-placement="top" data-toggle="tooltip" data-original-title="Upload">
                                    <i class="icon_cloud-upload_alt icon-lg"></i>
                                </a>
                                <a href="#" class="btn btn-dark btn-circle active tip-top" data-placement="top" data-toggle="tooltip" data-original-title="Refresh">
                                    <i class="glyphicon glyphicon-repeat"></i>
                                </a>
                                <a href="#" class="btn btn-blue-grey btn-circle active tip-top" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>*@
                            </div>
                        </div>
                        <div class="portlet-body pad-top-10-desktop text-center">
                            <ul class="list-inline">
                                <li>
                                    <h5><i class="fa fa-circle mar-right-5" style="color: #805bbe;"></i>Submitters</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle mar-right-5" style="color: #faca39;"></i>Developers</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle mar-right-5" style="color: #2eb7f3;"></i>Project Managers</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle mar-right-5" style="color: #2eb7f3;"></i>Administrators</h5>
                                </li>
                            </ul>
                            <div id="SecondChart" style="height:430px"></div>
                        </div>
                    </div>
                    <br /><br />
                </div>

               @{Html.RenderAction("SystemUpdatesPartial", "Home");}


            </div>
            <br /><br /><br /><br /><br />
        </div>

        <div class="section-admin container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="admin-content">
                        <h3><b>Bug Tracker Sytem Overview</b></h3><br />
                        <div class="table-responsive">
                            <table class="table table-theme table-clear table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Project Name
                                        </th>
                                        <th>
                                            Project Manager
                                        </th>
                                        <th style="text-align:center">
                                            Current Tickets
                                        </th>
                                        <th style="text-align:center">
                                            Ticket Assignment Ratio

                                        </th>
                                        <th style="text-align:center">
                                            Users on project
                                        </th>
                                        <th>
                                            Project start date
                                        </th>
                                        <th>
                                            Project Status
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="text-lighter">
                                    @if (Model != null)
                                    {
                                        foreach (var project in Model)
                                        {


                                            <tr>
                                                <td>
                                                    @project.Name
                                                </td>
                                                <td>
                                                    @project.ProjectManagerName
                                                </td>
                                                <td style="text-align:center">
                                                    @project.Tickets.Count()
                                                </td>
                                                <td style="text-align:center">
                                                    @project.Tickets.Where(t => t.AssignedToUser != null).Count() / @project.Tickets.Count

                                                </td>
                                                <td style="text-align:center">
                                                    @project.Users.Count()
                                                </td>
                                                <td>
                                                    @project.ProjectStartDate
                                                </td>
                                                <td>
                                                    <label class="label bg-green">@project.ProjectStatus</label>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Index","Projects")#@project.Name" data-placement="top" data-toggle="tooltip" class="tip-top" data-original-title="View Details"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                                    @*<a href="#" data-placement="top" data-toggle="tooltip" class="tip-top" data-original-title="Edit"><span class="icon-arrow-right"></span></a>
                                                        <a href="#" data-placement="top" data-toggle="tooltip" class="tip-top" data-original-title="Delete"><span class="icon_trash"></span></a>*@
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End of Page Content -->
    <!-- Footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10 text-center">
                <a href="#home" data-jump-offset="70" class="jump clearfix text-uppercase letter-spacing-3">Back <span class="pe-7s-angle-up pe-5x pe-va"></span> Top</a>
                <h2 class="text-uppercase letter-spacing-3 no-margin pad-bot-30 word-spacing-5 color-green wow animated fadeIn" data-wow-delay="1600ms"><b>BugTracker</b></h2>
                @*<p style="font-size:25px">BUG TRACKER</p><br />*@
                @*<img alt="image" class="mar-bot-30" width="150" src="~/images/logo-dark.png" />*@
                <h6 class="text-lighter no-margin text-uppercase letter-spacing-2 pad-bot-30">A web - based software application bug - tracking system</h6>
                @*<span><a href="#" class="btn btn-lg btn-green letter-spacing-2 mar-top-10"><span class="fa fa-shopping-cart fa-lg"></span>&nbsp;&nbsp;Buy On Wrapbootstrap</a></span>*@
                <ul class="list-unstyled list-inline footer-inline-links pad-top-15 pad-bot-10">
                    <li>
                        <ul class="social-icons circle list-inline list-unstyled">
                            @*<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>*@
                        </ul>
                    </li>
                </ul>
                @*<h6 class="no-margin pad-bot-15 letter-spacing-2 word-spacing-5 text-uppercase"><i>©2016 Nucleus. All Rights Reserved.</i></h6>*@
            </div>
        </div>
    </div>



    <footer class="footer container-fluid">
        <div class="row">
            <div class="col-md-12 ">

            </div>
        </div>
    </footer><!-- End of Footer -->
    @section scripts {
        <script>
            new Morris.Bar ({
                element: 'ThirdChart',
                data: @Html.Raw(Json.Encode(ViewBag.ArrData)),
                xkey: 'DayofWeek',
                ykeys: ['StatusA','StatusB','StatusC'],
                labels: ['Urgent', 'Normal Priority', 'Low Priority'],
                preUnits: ''

            })

            new Morris.Donut({
                element: 'SecondChart',
                data: @Html.Raw(Json.Encode(ViewBag.ArrData2)),
                //labels: ['Administrators', 'Developers','ProjectManagers','Submitters','TotalUsers'],
                //[
                //{ label: '2001', value: 40000 },
                //{ label: '2002', value: 45000 },
                //{ label: '2003', value: 43000 },
                //{ label: '2004', value: 46000 },
                //{ label: '2005', value: 70000 },
                //{ label: '2006', value: 100000 }
                //],

            })

        </script>
        <!-- Loading Third Party Scripts -->

    }
</body>

</html>